<h1>Chat Room</h1>

<div class="chat-wrapper">
  <div class="messages">
    <%= render Message.last_five %>
  </div>

  <%= form_for Message.new, remote: true do |f| %>
    <div class="input-group">
      <%= f.text_field :content, class: 'form-control', autocomplete: "off" %>
      <div class="input-group-btn">
        <%= f.submit "Send", class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
