.chat-wrapper {
  width: 400px;
}
.message {
  border: 1px solid #efefef;
  padding: 10px;
  .message_sender {
    font-size: .8em;
    color: #333;
  }
  .message_timestamp {
    font-size: .8em;
    color: #999;
  }
  a.message_delete {
    color: #ccc;
    text-decoration: none;
    &:hover {
      color: #000;
      font-weight: bold;
    }
  }
}
.messages {
  margin-bottom: 10px;
}

input[type=text] {
  // border: 1px solid orange;
}
